<!DOCTYPE html>
<html lang="jp">
    <head>
        <meta charset="utf-8">
        <title>簡易掲示板</title>
    </head>
    <body>
        <h1>Bulletin board</h1>

        <div id="form">
            <div id="clock"></div>
            <textarea id="loginput" rows="8" cols="80"></textarea>
            <input type="button" id="submitbtn" value="Post">
            <script type=text/javascript src="../static/post.js"></script>
        </div>

        <div id="log">
            <input type="submit" id="savebtn" value="Save">
            <input type="button" id="loadbtn" value="Load">
            <ul id="timeline">

            </ul>
            <script type=text/javascript src="../static/log.js"></script>
        </div>

        <div id="test">

        </div>
    </body>
</html>
