<!DOCTYPE html>
<html lang="jp">
    <head>
        <meta charset="utf-8">
        <title>簡易掲示板</title>
        <script type=text/javascript src="../static/log.js" defer></script>
    </head>
    <body>
        <h1>Bulletin board</h1>

        <div id="form">
            <textarea id="loginput" rows="8" cols="80"></textarea>
            <input type="submit" id="submitbtn" value="Post">
            <div id="clock">

            </div>
        </div>

        <form action="" method='POST'>
            <input type="submit" id="savebtn" value="Save">
        </form>

        <div id="log">
            <ul id="timeline">

            </ul>
        </div>

    </body>
</html>
