{% extends "bootstrap/base.html" %}

{% block title %}
    Flasky
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Flasky by Bootstrap</a>
        <ul class="nav navbar-nav">
            <li><a href="{{ url_for('user', name='stranger') }}">Home</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}
